<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User and Profile Form</title>
  <style>
    input[type=text],
    select,
    textarea {
      width: 100%;
      /* Full width */
      padding: 12px;
      /* Some padding */
      border: 1px solid #ccc;
      /* Gray border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
      margin-top: 6px;
      /* Add a top margin */
      margin-bottom: 16px;
      /* Bottom margin */
      resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }

    /* Add a background color and some padding around the form */
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  </style>
</head>

<body>
  <%- include('./partials/navbar') %> 
  <% if (error) { %>
    <div>
      <h1><%= error %></h1>
    </div>
    <% } else { %> 
  <h1 style="padding: 1px 0 1px 0; color: cadetblue">Create New Admin User and Profile</h1>
  <h2 style="padding: 10px 0 5px 0; color: cadetblue">Please fill the form below to add Admin User and Profile</h2>

  <div class="container">
    <form action="/user/formAdd" method="post">
      <div>
        <h3 style="padding: 1px 0 1px 0; color: rgb(39, 75, 236)">Create  Admin New User:</h3>

        <label for="userName">User name:</label>
        <input type="text" id="userName" name="userName" placeholder="Your user name..">
        <label for="email">User email:</label>
        <input type="email" id="email" name="email" placeholder="Your email.."><br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" placeholder="Your password.."><br><br>
      </div>
      <br> <br>
      <div>
        <h3 style="padding: 1px 0 1px 0; color: rgb(39, 75, 236)">Create  Admin New Profile:</h3>

        <label for="name">Profile name:</label>
        <input type="text" id="name" name="name" placeholder="Your profile name..">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Your Age.."><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Your Location..">
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <label for="">Specialist</label>
        <select name="specialist" id="status">
          <option value="Umum">Umum</option>
          <option value="Pernafasan">Pernafasan</option>
          <option value="Tulang">Tulang</option>
          <option value="Kulit">Kulit</option>
        </select>

      </div>
      <input type="hidden" name="role" value="admin">
      <input type="submit" value="Submit">

    </form>
  </div>
<% } %> 

</body>

</html>