<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/navbar') %> <br><br><br>
    <div style="background-color: rgb(228, 153, 153); text-align: center;">
        <div>
            <h1>Welcome to Well-Frame</h1>
            <h3>This web app brings you to the new experiment of healthcare</h3>
            <h3>Simplicity of Cares</h3>
        </div>
        <a class="button"  href="/login">Log in</a>
    </div>
</body>
</html>
