<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
</head>
<body>
  <%- include('./partials/navbar.ejs') %> 

  <div class="container">
    <h1> Sign in RoboDoc </h1>
    <br />
    <h1 style="color: red;"><%= errors %></h1>
    <form action="/login" method="post">
      <div class="row">
        <div class="username">
          <label for="userName">Username</label>
          <input type="text" name="userName" id="userName">
        </div>
        <br />

        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <br />

      </div>
      <button type="submit">Login</button>
      <button><a href="/user/formAddPatient">Create New Account</a></button>
    </form>
  </div>
  
</body>
</html>